body{
    background-color: #0f172a;
    color: white
}
.history-title{
    text-align: center;
    margin-top: 40px;

}
#historycontainer{
    width: 80%;
    margin: 30px auto;
}
.history-card{
    background-color: #1a1f2e;
    border: 1px solid #2cff2c;
    border-radius: 12px;
    padding: 20px;
    margin-top: 20px;
}
.topbar{
    position: fixed;
    top: 20px;
    right: 25px;
    z-index: 1000;
}

.topbar button{
    width: 42px;
    height: 42px;
    border: none;
    border-radius: 50%;
    background: #2563EB;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s ease;
    margin-right: 50px;
}

.topbar button:hover{
    transform: rotate(90deg) scale(1.08);
    background: #1d4ed8;
    box-shadow: 0 0 15px rgba(37,99,235,.5);
}
