body{
    background-color: #0f172a;
    color: white
}
.history-title{
    text-align: center;
    margin-top: 40px;

}
#historycontainer{
    width: 80%;
    margin: 30px auto;
}
.history-card{
    background-color: #1a1f2e;
    border: 1px solid #2cff2c;
    border-radius: 12px;
    padding: 20px;
    margin-top: 20px;
}
.topbar{
    display: flex;
    align-items: center;
    gap: 15px;
}
.topbar button{
    padding: 8px 12px;
    cursor: pointer;
    margin-left: 1320px;
    background-color: white;
    border-radius: 7px;
}
.topbar button:hover{
    background-color: red;
    color: white;
    
    
}
